<a href='http://moncoachdata.com'><img src= 'https://moncoachdata.com/wp-content/uploads/MonCoachData-cours/MonCoachData.jpg' width=400/></a>


---



<center><em>Pour plus d'informations, visitez notre site <a href='http://moncoachdata.com'>moncoachdata.com</a></em></center>
<center><em>et rejoignez-nous sur <a href='https://app.moncoachdata.com/discord'>Discord</a> et <a href='https://app.moncoachdata.com/youtube'>YouTube</a></em></center>



---

# Data Input et Output

Ce notebook est le code de référence pour obtenir des entrées (inputs) et des sorties (outputs), Pandas peut lire une variété de types de fichiers en utilisant ses méthodes pd.read_. 

Jetons un coup d'œil aux types de données les plus courants :

In [ ]:
import numpy as np
import pandas as pd

**Références :**

**C'est la meilleure ressource en ligne pour savoir comment lire/écrire dans une variété de sources de données !**

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="http://www.opendocumentformat.org">OpenDocument</a></td>
<td><a class="reference internal" href="#io-ods"><span class="std std-ref">read_excel</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

## Lecture d'un CSV

Les fichiers CSV (Comma Separated Values = Valeurs séparées par des virgules) sont des fichiers texte qui utilisent des virgules comme délimiteurs de champ.

### Avec Google Colab

Importer un fichier directement depuis le menu de gauche (Fichiers). Puis, appeler directement le fichier avec :
    
        df = pd.read_csv('un_fichier.csv')
        
ou clic droit sur le nom du fichier uploadé / copier le chemin d'accès et coller le dans la méthode read_csv(' ici ')
    
        df = pd.read_csv('/content/example.csv')
        
**Attention : Il faudra toujours uploader le fichier de nouveau lorsque votre notebook sur Google Colab se recycle.**

ou Connecter (Google) Drive à Google Colab, cliquez sur 'Drive' puis sélectionner le fichier csv, clic droit / copier chemin d'accès et le coller.

    
        df = pd.read_csv('coller le chemin d'accès du fichier CSV depuis le Drive ici...')

### Comprendre le chemin (path) des fichiers

Vous avez deux options lorsque vous lisez un dossier avec Pandas :

1. Si votre fichier .py ou votre notebook .ipynb se trouve dans le **même** dossier que le fichier .csv que vous voulez lire, il vous suffit d'indiquer le nom du fichier sous forme de chaîne de caractères (string), par exemple :
    
        df = pd.read_csv('un_fichier.csv')
        
2. Indiquez le chemin d'accès complet au fichier si vous vous trouvez dans un autre répertoire. Le chemin d'accès doit être correct à 100% pour que cela fonctionne. Par exemple sur Windows (sur Mac/Linux, ce seront des slashs simples '/') :

        df = pd.read_csv("C:\\Users\\nom_d'utilisateur\\files\\un_fichier.csv")

### Imprimer le chemin du fichier du répertoire actuel avec pwd

In [ ]:
pwd

'/content'

### Lister les fichiers dans votre répertoire actuel avec ls

In [ ]:
ls

sample_data/

-----
**REMARQUE ! Point de confusion fréquent ! Notez que toutes les méthodes de lecture en entrée (input) sont appelées directement par Pandas avec pd.read_, toutes les méthodes de sortie (output) sont appelées directement à partir du DataFrame avec df.to_.**

-------

## CSV Input (entrée)

In [ ]:
df = pd.read_csv('example.csv')

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
df = pd.read_csv('example.csv',index_col=0)

In [ ]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [ ]:
df = pd.read_csv('example.csv')

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## CSV Output (sortie)

Set index=False if you do not want to save the index , otherwise it will add a new column to the .csv file that includes your index and call it "Unnamed: 0" if your index did not have a name. If you do want to save your index, simply set it to True (the default value).

In [ ]:
df.to_csv('new_file.csv',index=False)

## HTML

Pandas peut lire les tabulations des tables dans le HTML. Cela ne fonctionne que si votre pare-feu ne bloque pas l'accès de Pandas à Internet ! Aucun problème avec Google Colab !

À moins que vous n'utilisiez Google Colab, vous devrez peut-être installer <tt>lxml</tt>, <tt>htmllib5</tt> et <tt>BeautifulSoup4</tt>.

Dans votre terminal/interface de commande (ou sur Jupyter Notebook), exécutez :

    conda install lxml
ou si vous n'utilisez pas la distribution Anaconda

    pip install lxml
    
Puis redémarrez Jupyter Notebook (vous devrez peut-être redémarrer votre ordinateur).

## read_html

### HTML Input

La fonction read_html de Pandas lira les tables d'une page web et retournera une liste d'objets DataFrame. 

NOTE : Cela ne fonctionne qu'avec des objets `<table>` bien définis dans le html de la page, cela ne peut pas lire comme par magie les tables qui sont des images sur une page.

In [ ]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [ ]:
len(tables) # longueur des tableaux

26

### Tableaux non utiles
Pandas a trouvé 26 tables sur cette page. Certaines ne sont pas utiles :

In [ ]:
tables[25]

  Authority control                  Authority control.1
0           General  Integrated Authority File (Germany)
1             Other                   Microsoft Academic

### Tableaux à mettre en forme

Certaines seront mal alignées, ce qui signifie que vous devrez faire un travail supplémentaire pour "réparer" les colonnes et les lignes :

In [ ]:
tables[0]

        World population (millions, UN estimates)[14]  ...
                                                    #  ...                                            2030[A]
0                                                   1  ...                                               1416
1                                                   2  ...                                               1528
2                                                   3  ...                                                356
3                                                   4  ...                                                295
4                                                   5  ...                                                245
5                                                   6  ...                                                228
6                                                   7  ...                                                263
7                                                   8  ...                                                186
8                                                   9  ...                                                149
9                                                  10  ...                                                148
10                                                NaN  ...                                               8501
11  Notes: .mw-parser-output .reflist{font-size:90...  ...  Notes: .mw-parser-output .reflist{font-size:90...

[12 rows x 5 columns]

In [ ]:
world_pop = tables[0]

In [ ]:
world_pop.columns

MultiIndex([('World population (millions, UN estimates)[14]', ...),
            ('World population (millions, UN estimates)[14]', ...),
            ('World population (millions, UN estimates)[14]', ...),
            ('World population (millions, UN estimates)[14]', ...),
            ('World population (millions, UN estimates)[14]', ...)],
           )

In [ ]:
world_pop = world_pop['World population (millions, UN estimates)[14]'].drop('#',axis=1)

In [ ]:
world_pop.columns

Index(['Top ten most populous countries', '2000', '2015', '2030[A]'], dtype='object')

In [ ]:
world_pop.columns = ['Countries', '2000', '2015', '2030 Est.']
world_pop = world_pop.drop(11,axis=0)

In [ ]:
world_pop

        Countries  2000  2015 2030 Est.
0        China[B]  1270  1376      1416
1           India  1053  1311      1528
2   United States   283   322       356
3       Indonesia   212   258       295
4        Pakistan   136   208       245
5          Brazil   176   206       228
6         Nigeria   123   182       263
7      Bangladesh   131   161       186
8          Russia   146   146       149
9          Mexico   103   127       148
10    World total  6127  7349      8501

### Tableaux intacts

In [ ]:
tables[6]

   Rank         Country  ...  Density(pop/km2)  Population trend
0     1           India  ...               420           Growing
1     2        Pakistan  ...               280   Rapidly growing
2     3      Bangladesh  ...              1190   Rapidly growing
3     4           Japan  ...               333     Declining[98]
4     5     Philippines  ...               369           Growing
5     6         Vietnam  ...               290           Growing
6     7  United Kingdom  ...               273           Growing
7     8     South Korea  ...               520            Steady
8     9          Taiwan  ...               652            Steady
9    10       Sri Lanka  ...               332           Growing

[10 rows x 6 columns]

## Écriture vers la sortie html

Si vous travaillez sur un site web et que vous voulez produire rapidement le fichier .html, vous pouvez utiliser to_html.

In [ ]:
world_pop.to_html('simple_table.html',index=False)

**read_html** n'est pas parfait, mais il est assez puissant pour un appel de méthode aussi simple !

## Fichiers Excel

Pandas peut lire des fichiers Excel de base (il obtiendra des erreurs s'il y a des macros ou des formules étendues qui dépendent de fichiers Excel externes), en général, Pandas peut seulement saisir l'information brute d'un fichier .excel.

#### NOTE : Nécessite la bibliothèque openpyxl et xlrd ! Il est fourni sur Google Colab, ou simplement installer avec :

    pip install openpyxl
    pip install xlrd
    
Les utilisateurs intensifs d'Excel peuvent consulter ce site web : https://www.python-excel.org/

Vous pouvez considérer un fichier Excel comme un classeur (workbook) contenant des feuillets (sheets), ce qui signifie pour Pandas que chaque feuillet peut être un DataFrame.

## Entrée de fichier Excel avec read_excel()

In [ ]:
df = pd.read_excel('my_excel_file.xlsx',sheet_name='First_Sheet')

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

**Que faire si vous ne connaissez pas le nom du feuillet ? Ou si vous voulez exécuter une boucle pour certains noms de feuillets ? Ou que vous voulez tous les feuillets ?**

Plusieurs façons de procéder : https://stackoverflow.com/questions/17977540/pandas-looking-up-the-list-of-sheets-in-an-excel-file

In [ ]:
# Retourne une liste de sheet_names
pd.ExcelFile('my_excel_file.xlsx').sheet_names

['First_Sheet']

### Saisir tous les feuillets

In [ ]:
excel_sheets = pd.read_excel('my_excel_file.xlsx',sheet_name=None)

In [ ]:
type(excel_sheets)

dict

In [ ]:
excel_sheets.keys()

dict_keys(['First_Sheet'])

In [ ]:
excel_sheets['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Écrire dans un fichier Excel

In [ ]:
df.to_excel('example.xlsx',sheet_name='First_Sheet',index=False)

## Connexions SQL

#### NOTE : Nous vous recommandons vivement d'explorer les bibliothèques spécifiques à votre moteur SQL. Effectuez une simple recherche de votre base de données + python dans Google et les premiers résultats devraient, avec un peu de chance, inclure une API.

* [MySQL](https://www.google.com/search?q=mysql+python)
* [PostgreSQL](https://www.google.com/search?q=postgresql+python)
* [MS SQL Server](https://www.google.com/search?q=MSSQLserver+python)
* [Oracle](https://www.google.com/search?q=oracle+python)
* [MongoDB](https://www.google.com/search?q=mongodb+python)

Examinons les capacités de pandas en utilisant SQLite, qui est intégré à Python..


### Exemple de base de données SQL (temporaire)

Si vous êtes sur votre machine (et non sur le cloud google Colab), vous devez installer sqlalchemy avec :

    pip install sqlalchemy
    
pour suivre le processus. Pour comprendre comment établir une connexion avec votre propre base de données, n'oubliez pas de consulter le document : https://docs.sqlalchemy.org/en/14/core/connections.html

In [ ]:
from sqlalchemy import create_engine

In [ ]:
temp_db = create_engine('sqlite:///:memory:')

### Écriture dans la base de données

In [ ]:
tables[6]

   Rank         Country  ...  Density(pop/km2)  Population trend
0     1           India  ...               419           Growing
1     2        Pakistan  ...               279           Growing
2     3      Bangladesh  ...              1187   Rapidly growing
3     4           Japan  ...               333     Declining[98]
4     5     Philippines  ...               368           Growing
5     6         Vietnam  ...               290           Growing
6     7  United Kingdom  ...               273            Steady
7     8     South Korea  ...               520            Steady
8     9          Taiwan  ...               652            Steady
9    10       Sri Lanka  ...               332           Growing

[10 rows x 6 columns]

In [ ]:
pop = tables[6]

In [ ]:
pop.to_sql(name='populations',con=temp_db)

### Lecture de la base de données SQL

In [ ]:
# Lire dans une table entière
pd.read_sql(sql='populations',con=temp_db)

   index  Rank         Country  ...  Area(km2)  Density(pop/km2)  Population trend
0      0     1           India  ...    3287240               419           Growing
1      1     2        Pakistan  ...     803940               279           Growing
2      2     3      Bangladesh  ...     143998              1187   Rapidly growing
3      3     4           Japan  ...     377873               333     Declining[98]
4      4     5     Philippines  ...     300000               368           Growing
5      5     6         Vietnam  ...     331689               290           Growing
6      6     7  United Kingdom  ...     243610               273            Steady
7      7     8     South Korea  ...      99538               520            Steady
8      8     9          Taiwan  ...      36193               652            Steady
9      9    10       Sri Lanka  ...      65610               332           Growing

[10 rows x 7 columns]

In [ ]:
# Lecture avec une requête SQL
pd.read_sql_query(sql="SELECT Country FROM populations",con=temp_db)

          Country
0           India
1        Pakistan
2      Bangladesh
3           Japan
4     Philippines
5         Vietnam
6  United Kingdom
7     South Korea
8          Taiwan
9       Sri Lanka

Il est difficile de généraliser Pandas et SQL, en raison d'un large éventail de problèmes, notamment les permissions, la sécurité, l'accès en ligne, les différents moteurs SQL, etc... Utilisez ces idées comme point de départ, et vous aurez très probablement besoin de faire vos propres recherches pour votre situation particulière.